:root {
    --font-color: rgb(45, 45, 44);
    --secondary-font-color: #fff;
    --image-slide: 300px;
}

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.image-animate {
    animation: slide 20s infinite;
}

.image-slide img {
    @apply w-[300px] h-[300px] sm:h-[600px] sm:w-[600px];
    object-fit: cover;
}

@media (min-width: 640px){
    :root{
        --image-slide: 600px;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(calc(var(--image-slide) * -1));
    }

    35% {
        transform: translateX(calc(var(--image-slide) * -1));
    }

    40% {
        transform: translateX(calc(var(--image-slide) * -2));
    }

    55% {
        transform: translateX(calc(var(--image-slide) * -2));
    }

    60% {
        transform: translateX(calc(var(--image-slide) * -3));
    }

    75% {
        transform: translateX(calc(var(--image-slide) * -3));
    }

    80% {
        transform: translateX(calc(var(--image-slide) * -4));
    }

    95% {
        transform: translateX(calc(var(--image-slide) * -4));
    }


}


.btn-animate {
    transition: background-color 0.5s ease;
    animation: scalce 2s ease-in-out infinite;
    cursor: pointer;
}



@keyframes scalce {
    0% {
        transform: scalce(1.0);
    }

    50% {
        transform: scalce(1.1);
    }
}